.topbar {
  width: 100%;
  position: fixed;
  display: flex;
justify-content: space-between;
  height: 50px;
  z-index: 999;
  background-color: black;
  color: aliceblue;

}
.lefttopbar{display: flex;
  height: 50px;
}
.righttopbar{
  display: flex;
  height: 50px;
  float: left;
}
.searchform{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search{
 width: 100%;


}
.language{ 
  display: flex;
  margin-right: 10px;
  height: 100%;
  justify-content: center;
  align-items: center;
 }
.topbtn{
  display: flex;
  margin-right: 10px;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-family:sans-serif;
  
}
.logoimg{
  width: 40px;
  height: 40px;
  border-radius: 100vh;
}
.sidebar{
  position: fixed;
  width: 8%;
  height: 100%;
  padding-left: 20px;
  margin-top: 50px;
  background-color: black;
  color: aliceblue;
  z-index: 10;


}
.library{
  
  font-size: .8rem;
    letter-spacing: 1px;
}
.sideitem{
  display: block;
  margin-right: 10px;
  justify-content: left;
  padding-top: 20px;
  
  
  font-family:sans-serif;
}
.bigSongList{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
    margin-left: 15%;
}

.songList{
  display: flex;
  gap: 20px;
}
.song{
  display:flex;
  padding: 0 0 22px;
    position: relative;
    z-index: 2;
    flex-direction: column;
    text-align: center;
    
}
.song:hover{

}
.coverImg{
  width: 150px;
  height: 150px;
  
}
.playerBar{
  display:flex;
  border: 1px gray solid;
  position: fixed;
  height: 50px;
  bottom: 0;
  width: 100%;
  background-color: black;
  z-index: 999;
}